.landing-container{
    width: 100dvw; 
    margin: 0 auto; 
    display: grid;
}

.other-columns > *{
    text-align: center;
}

.song-icon{
    width: 15%;
    height: auto;
}

.song-table{
    border-collapse: collapse;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}



.song-playing{
    width: 20%;
}

tr:nth-child(odd){
    background-color: var(--odd-table-row);

}

tr:nth-child(even){
    background-color: var(--even-table-row);
}

.fake-even-row{
    background-color: var(--even-table-row);
}




.input-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 60%;
    margin: 0 auto;
}

.audio-bar{
    border-radius: 0;
}

.song-info{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: fit-content;
}

.song-info h3{
    margin: 1rem 1rem;
    font-size: 1rem;
}

.other-columns{
    width: 15%;
}

.input-n-label{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
}

.url-to-music{
    margin: 1rem 0rem;
    padding: 1rem;
    width: 70%;
    font-size: 1rem;
    border-radius: 0.25rem;
    
}

.submit-url{
    height: max-content;
    width: 20%;
    padding: 1rem;
    margin: auto 0;
    color: #ffffff;
    background-color: #861f73;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

input{ 
    outline: none;
    border: 1px solid var(--generic-text);
}

.audio-bar-container{
    margin: 1rem auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

}

.audio-bar-container audio{
    width: min(500px, 100%);
}

.loading-container{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 5rem;
    height: 5rem;
}

@media only screen and (max-width: 768px) {
    .song-table-container{
        overflow: scroll;
    }

    .song-table{
        border-collapse: separate;
    }

    .song-icon{
        width: 10%;
        height: auto;
        border-radius: 0.25rem;
    }

    .song-info{
        width: 100%;
        overflow: hidden;
        
    
    }

    .song-info > h3{
        font-size: 0.75rem;
    }

    .song-playing{
        width: 30%;
    }

    .input-section{
        flex-direction: column;
        width: 100%;
        padding: 0.5rem;
    }

    .url-to-music{
        width: 50%;
    }

    .audio-bar-container{
        width: 100%;
        align-items: left;
    }
    .main-column{
        width: 50%;
    }
}